<!-- your html code here -->
<div class="Padre">
    <div class="hijo1">
        <h1>Contact</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam assumenda iure veniam quidem repellat,
            libero iste mollitia suscipit, nostrum, quae sunt omnis numquam deserunt autem porro odio recusandae
            dignissimos cupiditate!</p>
    </div>
    <div class="conatainer-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="mb-3 row ">
                    <label for="staticEmail" class="col-sm-2 col-form-label fw-bold">Your E-mail</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Your E-mail"
                            style="height: 50px; width: 700px;">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label fw-bold">Your message</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 100px; width: 700px;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" style="height: 50px; width: 75px;">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>